@font-face {
    font-family: openSansDefault;
    src: url(../font_folder/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    font-family: openSansDefault;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    background-color: #EEEAE9;
} 
a{
    text-decoration: none;
    color: #CD7C51;
    letter-spacing: 3px;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 1.5em 1em 1.5em;
}
ul, li{
    display: inline-block;
}
li{
    padding-left: 1.5em;
}
ul:nth-child(1){
    padding-left: 0;
}
.logo{
    margin-right: auto;
}
.cart-logo{
    height: 28px;
    top: 5px;
    position:relative;
}
/* Everything above this comment is the nav bar section, everything below contains the styling the designated page */