@font-face {
    font-family: openSansDefault;
    src: url(../font_folder/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(../font_folder/Roboto/Roboto-Regular.ttf);
}
*{
    font-family: openSansDefault;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    background-color: #EEEAE9;
} 
a{
    text-decoration: none;
    color: #CD7C51;
    letter-spacing: 3px;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 1.5em 1em 1.5em;
}
ul, li{
    display: inline-block;
}
li{
    padding-left: 1.5em;
}
ul:nth-child(1){
    padding-left: 0;
}
.logo{
    margin-right: auto;
}
.cart-logo{
    height: 28px;
    top: 5px;
    position:relative;
}
.copyright-footer{
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 3em 0 3em 0;
}
/* Everything above this comment is the nav bar section and copyright footer, everything below contains the styling the designated page */
.artists-title{
    text-align: center;
    letter-spacing: 6.72px;
    font-size: 48px;
    font-weight: bolder;
    padding-top: 1.5em;
}
.artists-nav, .artists-name{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.artists-name{
    font-size: 36px;
    color: #000000;
    font-weight: lighter;
    padding: 0.5em auto 0.5em auto;
}
.portrait-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

